@using Sitecore.Mvc

<div id="memberInfoWapper" class="col-24">
    <h3 class="memberLoginHeader">@Html.Sitecore().Field("Member Info Header")</h3>

    @Html.Sitecore().Field("Member Info Text")
</div>
