@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions

<div id="memberLoginFormWapper" class="col-24">
    <h2 class="memberLoginHeader iehpBlue">Member Login</h2>
    <form name="memberLoginForm" action="#" method="post">
        <div id="memberLogin" class="form-group row">
            <input type="text" class="form-control" id="memberID" placeholder="Member ID">
            <input type="text" class="form-control" id="password" placeholder="Password">
            <button type="submit" class="btn btn-primary memberLoginBtn">Login</button>
           
            <div class="formPadding col-12 text-left">
                <a href="#" alt="Forgot Password">Forgot Password?</a>
            </div>
            <div class="formPadding col-12 text-right">
                <a href="#" alt="Register">Create an Account</a>
            </div>
        </div>
    </form>
</div>