@using Sitecore.Mvc
@model iehp.MrLinks.Models.NavigationViewModel

<div class="col-24 col-sm-8 allPadding vertDivider">
    <span class="black"><strong>Forms</strong></span>
    <ul class="mrLinks">
        @foreach (var child in Model.Guid1List)
        {
            <li>@Html.Sitecore().Field("Link Url", child)</li>
        }
    </ul>
</div>

<div class="col-24 col-sm-16 allPadding justify-content-between">
    <div class="row black"><strong>Helpful Services</strong></div>

    <div class="row">
        <div class="col-24 col-sm-11">
            <ul class="mrLinks">
                @foreach (var child in Model.Guid2List)
                {
                    <li>@Html.Sitecore().Field("Link Url", child)</li>
                }
            </ul>
        </div>

        <div class="col-24 col-sm-11">
            <ul class="mrLinks">
                @foreach (var child in Model.Guid3List)
                {
                    <li>@Html.Sitecore().Field("Link Url", child)</li>
                }
            </ul>
        </div>
    </div>
</div>
