<div style="margin:40px">
    <label>Enter a template ID to retrieve:</label>
    <br />
    <input type="text" id="templateID" />
    <br />
    <br />
    <label>Enter a field to retrieve:</label>
    <br />
    <input type="text" id="fieldVal" />
    <br />
    <br />
    <button id="submit" value="submit">Submit</button>

    <p>Results:</p>
    <div id="results">

    </div>
</div>
