@using Sitecore.Mvc
@model iehp.MediCalPlan.Models.EventViewModel

<h4 class="ourPlans">Our Plans</h4>
@foreach (var child in Model.MediCalPlan)
{
    <h2>@Html.Sitecore().Field("Title", child)</h2>
    <hr class="plansDivider" />

    <div class="col-20 offset-2 clearfix">
        <p>@Html.Sitecore().Field("Description", child)</p>

        @Html.Sitecore().Field("Call-To-Action", child, new { @class = "planButton" })
    </div>
}