<div class="formWrapper">
    <div class="row">
        <select id="planSelector" name="plansSelector" value="">
            <option value="All Plans" selected>All Plans</option>
            <option value="Medi-Cal">Medi-Cal</option>
            <option value="DualChoice">Dual Choice</option>
        </select>
    </div>

    <div class="row topMargin text-center">
        <div class="col-8  text-left vertDivider">
            <input id="zipCodeInput" type="text" maxlength="5" placeholder="Zip Code" />
        </div>
        <div class="col-8 vertDivider">
            <a class="advSearchLink" href="#" alt="Advanced Search Link">Advanced Search</a>
        </div>
        <div class="searchBlock col-8">
            <a class="stdSearchLink" href="#" alt="Standard Search Link">Search</a>
        </div>
    </div>
</div>

