@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    <script type="text/javascript">
        var templateID, url;

        $(document).ready(function () {
            $('#submit').on("click", function () {

                var templateTemp = $('#templateID').val();
                var inputTemp = $('#fieldVal').val();
                var url = "http://iehp/sitecore/api/ssc/item/" +templateTemp + "?fields=" + inputTemp;

                performSearch();

                function performSearch() {
                    $.getJSON(url)
                        .done(function (data) {
                            $.each(data, function (i, data) {
                                $('#results').html(i + ": "+ data);
                            });

                        })
                        .fail(function (jqxhr, textStatus, error) {
                            var err = textStatus + ", " + error;
                            alert("Request Failed: " + err);
                        });
                }

            });

        });
    </script>
</head>
<body>
    @Html.Sitecore().Placeholder("Content")
</body>
</html>