@using Sitecore.Mvc
@model iehp.FooterNavCol3.Models.NavigationViewModel

<ul class="footerNavMenu">
    @foreach (var child in Model.Children)
    {
        <li>
            @Html.Sitecore().Field("Link Url", child)
        </li>
    }
</ul>